{{> header}}
{{> navbar}}
  <div class="auth__container">
    <h2 class="h2 text-center">Admin Login</h2>
    <p class="para__text text-center py-30">Enter your password to go to Dashboard</p>

    <form class="auth__form__group">
      <input
        type="password"
        class="auth__input"
        name="password"
        placeholder="Enter Admin Credentials"
      />
      <input
        type="submit"
        class="auth__btn"
        value="Login"
      />
    </form>
  </div>
{{> adminFooter}}
