{{> header }}
{{> navbar }}

  <div class="article__imgContainer">
    <img src='/img/machupichu.jpg' class="article__img"/>
  </div>

  <div class="article__body">
    <div class="article__content">
      <h1 class="h1">Machu Pichu</h1>

      <p class="para-text py-10">Much of the farming done at Machu Picchu was done on its hundreds of man-made terraces. These terraces were a work of considerable engineering, built to ensure good drainage . Vestibulum ornare elit aliquam, condimentum leo eget, vestibulum enim. Nullam id fermentum dolor. Nam commodo nibh ac ante eleifend, eu semper risus cursus. Maecenas a nisl vitae tellus consectetur molestie. Vivamus urna quam, scelerisque a dui nec, dignissim viverra est. Aliquam erat volutpat. Sed ullamcorper massa in mollis vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ornare mi ut sapien bibendum ultricies. Proin ac velit et diam consectetur tempor. Integer aliquam dolor in diam facilisis vehicula.</p>
      <p class="para-text py-10">Much of the farming done at Machu Picchu was done on its hundreds of man-made terraces. These terraces were a work of considerable engineering, built to ensure good drainage . Vestibulum ornare elit aliquam, condimentum leo eget, vestibulum enim. Nullam id fermentum dolor. Nam commodo nibh ac ante eleifend, eu semper risus cursus. Maecenas a nisl vitae tellus consectetur molestie. Vivamus urna quam, scelerisque a dui nec, dignissim viverra est. Aliquam erat volutpat. Sed ullamcorper massa in mollis vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ornare mi ut sapien bibendum ultricies. Proin ac velit et diam consectetur tempor. Integer aliquam dolor in diam facilisis vehicula.</p>
      <p class="para-text py-10">Much of the farming done at Machu Picchu was done on its hundreds of man-made terraces. These terraces were a work of considerable engineering, built to ensure good drainage . Vestibulum ornare elit aliquam, condimentum leo eget, vestibulum enim. Nullam id fermentum dolor. Nam commodo nibh ac ante eleifend, eu semper risus cursus. Maecenas a nisl vitae tellus consectetur molestie. Vivamus urna quam, scelerisque a dui nec, dignissim viverra est. Aliquam erat volutpat. Sed ullamcorper massa in mollis vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc ornare mi ut sapien bibendum ultricies. Proin ac velit et diam consectetur tempor. Integer aliquam dolor in diam facilisis vehicula.</p>
    </div>

    <div class="article__similarArticles">
      <div class="blogCard__container--vertical">
        <div class="blogCard__imgContainer--vertical">
          <img src="/img/blogCard_img2.png" class="blogCard__img--vertical" />
        </div>

        <div class="blogCard__contentContainer--vertical">
          <h4 class="h4">Imperial Palace</h4>
          <p class="para-text py-10">The Tokyo Imperial Palace is the main residence of the Emperor of Japan. It is a large park-like area located in the Chiyoda district of the Chiyoda ward of Tokyo and contains several buildings including ....</p>
          <button class="blogCard__btn">Read More</button>
        </div>
      </div>
    </div>
  </div>
{{> footer }}
