{{> header }}
{{> navbar }}

  <div class="blogs__container">
    <h2 class="h2 py-30">Articles to Read</h2>

    <div class="width-80">
      <!--BLOG-CARD-->
      <div class="blogCard__container--small">
        <div class="blogCard__imgContainer--small">
          <img src="img/blogCard_img.png" class="blogCard__img--small" />
        </div>

        <div class="blogCard__contentContainer--small">
          <h4 class="h4">Machu Pichu</h4>
          <p class="para-text py-10">Much of the farming done at Machu Picchu was done on its hundreds of man-made terraces. These terraces were a work of considerable engineering, built to ensure good drainage ....</p>
          <a href="/blog/sdf" class="blogCard__btn">Read More</a>
        </div>
      </div>

      <!--BLOG-CARD-->
      <div class="blogCard__container--small">
        <div class="blogCard__imgContainer--small">
          <img src="img/blogCard_img2.png" class="blogCard__img--small" />
        </div>

        <div class="blogCard__contentContainer--small">
          <h4 class="h4">Imperial Palace</h4>
          <p class="para-text py-10">The Tokyo Imperial Palace is the main residence of the Emperor of Japan. It is a large park-like area located in the Chiyoda district of the Chiyoda ward of Tokyo and contains several buildings including ....</p>
          <button href="/blog/assd" class="blogCard__btn">Read More</button>
        </div>
      </div>

      <!--BLOG-CARD-->
      <div class="blogCard__container--small">
        <div class="blogCard__imgContainer--small">
          <img src="img/blogCard_img3.png" class="blogCard__img--small" />
        </div>

        <div class="blogCard__contentContainer--small">
          <h4 class="h4">Scottish Highlands</h4>
          <p class="para-text py-10">The Scottish Highlands is the only area in the British Isles to have the taiga biome as it features concentrated populations of Scots pine forest: see Caledonian Forest. It is the most mountainous part of the United Kingdom. ....</p>
          <button href="/blog/assd" class="blogCard__btn">Read More</button>
        </div>
      </div>

    </div>
  </div>

{{> footer }}
