{{> header}}
{{> navbar}}

  <div class="createPost__container">
    <h2 class="h2 py-30">Create a new Blog Post </h2>

    <form
      method="post"
      action="/admin/createPost"
      class="createPost__formContainer"
      enctype="multipart/form-data"
    >

      <div class="createPost__formGroup">
        <label for="title">Blog Title:</label>
        <input
          type="text"
          name="title"
          id="title"
          class="createPost__formInput"
        />
      </div>

      <div class="createPost__formGroup">
        <label for="description">Blog Description:</label>
        <input
          type="text"
          name="description"
          id="description"
          class="createPost__formInput"
        />
      </div>

      <div class="createPost__formGroup">
        <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
        <label for="article">Blog Article:</label>
        <textarea
          type="text"
          name="article"
          id="article"
          class="createPost__formTextArea"
        ></textarea>

        <script>
          CKEDITOR.replace( 'article' );
        </script>
      </div>

      <div class="createPost__formGroup">
        <label for="blogImg">Upload Image:</label>
        <input
          type="file"
          name="blogImg"
          id="blogImg"
          class="createPost__formInput"
        />
      </div>

      <div class="createPost__formGroup">
        <input
          type="submit"
          name="submit"
          id="submit"
          value="Submit"
          class="createPost__formBtn"
        />
      </div>

    </form>
  </div>

{{> adminFooter}}
