  <div class="newsletter__container">
    <h3 class="h3 text-center color-white">Subscribe to my NewsLetter</h3>

    <div class="newsletter__formGroup">
      <form method="POST" action="/emailList" class="newsletter__form">
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          class="newsletter__input"
        />

        <input
          type="submit"
          class="newsletter__btn"
          value="Subscribe"
        />
      </form>
    </div>

    <p class="footer__copyright">&copy; 2022 Travel&Live .All Rights Reserved</p>
  </div>
</body>
</html>
