<div class="navbar__container">
  <div class="navbar__inner">
    <div class="navbar__logoContainer">
      <a href="/" class="navbar__logo">Travel & Live</a>
    </div>

    <div class="navbar__navContainer">
      <div class="navbar__linksContainer">
        <a href="/" class="navbar__link">Home</a>
        <a href="/blog" class="navbar__link">Blogs</a>

        <form method="GET" action="/search" class="navbar__formGroup">
          <input
            type="text"
            name="search"
            class="navbar__input"
            placeholder="Search for a topic or destination..."
          />

          <input
            type="submit"
            class="navbar__btn"
            value="Search"
          />
        </form>
      </div>
    </div>

  </div>
</div>
